header{
    height: 30vh;
    background-color: #110A2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
}

.menu{
    display: flex;
    gap: 50px;
}

header h1{
    color: yellow;
    padding: 4%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu button{
    color: #D60E3B;
    background-color:#2a1869;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.menu button:hover{
    color: #D60E3B;
    background-color: yellow;
}

.selected{
    border-bottom: 2px solid #D60E3B;
}