.listaPrincipal{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.listaPrincipal .titulo{
    padding-top: 7%;
    border-bottom: 3px solid black;
    width: 130%;
}

.listaPrincipal ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 15%;
}

.adder{
    display: flex;
    flex-direction: row;
    width: 120%;
    padding: 6%;
    gap: 35px;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input{
    padding: 1%;
    width: 40%;
    font-size: medium;
    font-weight: bold;
    border: none;
    background-color: yellow;
    border-radius: 10px;
}

button{
    padding: 1%;
    width: 20%;
    font-size:small;
    font-weight: bold;
    border: none;
    background-color: red;
    border-radius: 10px;
}