.principal{
    background-color: #e8e2db;
    height: 100%;
}

.imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 30px;
}

.box-imagens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.box-imagens img{
    height: 30%;
    width: 30%;
    border: 3px solid #1a3263;
}